.venv/

logs/

Ausbildungsnachweise/

# Die Datenbank sollte nicht ignoriert werden, wenn sie mitgeliefert wird.
# Wenn sie nur lokal erstellt wird, sollte sie hier rein. Vorerst auskommentiert.
data/

exe_generator.spec

build/

dist/

__pycache__/

.pytest_cache/
